{% extends 'layout.html.twig' %}

{% block title %} {% if title is defined %} {{ title }} {% endif %} {% endblock %}

{% block content %}

    {% if message is defined %} {{ message }} {% endif %}

    <a href="{{ path('add_petrol_station') }}" class="btn btn-primary stretched-link">Добавить заправочную станцию</a>

    {% if stations is defined %}
        <ul>
        {% for station in stations %}
            <li>{{ station.name }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if form is defined %} {{ form(form) }} {% endif %}

{% endblock %}
