{% extends 'layout.html.twig' %}

{% block title %} Автомобиль {% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/refuelling.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block content %}

{% if add_button is defined %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h4>
    <a href="{{ path('add_car') }}"> Добавить автомобиль...</a>
  </h4>
</div>
{% endif %}

    {% if cars is defined %}
        <div class="row">
            
                {% for car in cars %}
                    <div class="col-sm-4">
                        <div class="card m-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ car.brand }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ car.model}}</h6>
                                <p class="card-text">{{ car.regNumber }}</p>
                                <a href="#" class="card-link">Редактировать</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            
        </div>
    {% endif %}

    {% if form is defined %} {{ form(form) }} {% endif %}

    {% if message is defined %} {{ message }} {% endif %}

{% endblock %}
