{% extends 'layout.html.twig' %}

{% block title %} {% if title is defined %} {{ title }} {% endif %} {% endblock %}

{% block content %}

    {% if cars is defined %}
        <ul>
        {% for car in cars %}
            <li>{{ car.brand }} {{ car.model }} - {{ car.regNumber }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if form is defined %} {{ form(form) }} {% endif %}

    {% if message is defined %} {{ message }} {% endif %}

    {% if add_button is defined %}
        <p>
            <a href="{{ path('add_car') }}" class="btn btn-primary">Добавить автомобиль</a>
        </p>
    {% endif %}

{% endblock %}
