{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/auth.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid text-center">

        <main class="form-signin">
            <img class="mb-4" src=" {{ asset('images/fuelling_station.png') }}" alt="" width="40%" height="40%">
            <h1 class="mb-0 fw-normal brand-name">
                BENZIMETER
            </h1>
            <p class="mb-5">Удобный учет ваших расходов на топливо</p>
            
            <form action="{{ path('login') }}" method="post">
                <div class="form-floating">
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
                    <label for="username">Email:</label>
                </div>

                <div class="form-floating">
                    <input class="form-control" type="password" id="password" name="_password"/>
                    <label for="password">Password:</label>
                </div>

                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}


                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me" checked/> Запомнить
                    </label>
                </div>

                {# Если вы хотите контролировать URL, по которому перенаправляется пользователь при успешном входе
                <input type="hidden" name="_target_path" value="/account"/> #}

                <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
                <p class="mt-1">
                    <a href="{{ path('app_register') }}">Нет эккаунта?</a>
                </p>
                <p class="mt-3 mb-2 text-muted">&copy; 2022</p>
            </form>
        </main>

    </div>
{% endblock %}
